quartus_proj/fgba.qws
quartus_proj/db/*
quartus_proj/incremental_db/*
quartus_proj/output_files/*
quartus_proj/simulation/
quartus_proj/mem_init.txt
quartus_proj/greybox_tmp/cbx_args.txt
quartus_proj/initf/*
quartus_proj/mifs/rgb.ver
quartus_proj/mifs/rgb.mif
_*
gmon.out
*.rpt
*.bak
